//自訂網頁文字大小、行高
$font-size-custom: 1rem;
$text-types: (
  s: $font-size-custom * 1.25,
  // font-siz:20px line-height:30px
  m: $font-size-custom * 1.5,
  // font-siz:24px line-height:36px
  lg: $font-size-custom * 2,
  // font-siz:32px line-height:48px
  xl: $font-size-custom * 5,
  // font-siz:80px line-height:px
) !default;

@each $name, $font-size-custom in $text-types {
  .text-#{$name} {
    font-size: $font-size-custom;
    line-height: 1.5;
  }
}

// 字寬
.medium {
  font-weight: 600;
}
